@import url("/furtive/css/furtive.min.css");

@font-face {
  font-family: 'fontello';
  src: url('font/fontello.eot?84722129');
  src: url('font/fontello.eot?84722129#iefix') format('embedded-opentype'),
       url('font/fontello.woff?84722129') format('woff'),
       url('font/fontello.ttf?84722129') format('truetype'),
       url('font/fontello.svg?84722129#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

.py1-5 {
	padding-top: 0.2rem;
}

#wrapper {
	max-width: 920px;
	margin: auto;
}

#joinroom {
	margin-top: 1rem;
}

#tabs {
	margin 2em 0 1rem;
	border-bottom: thin solid rgba(216,216,216,.99);
}

#tabs ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#tabs ul li {
	background-color: rgba(255,255,255,1);
	display: inline-block;
	padding: 0.5rem 1.5rem;
	margin: 2rem 1rem;
	margin-bottom: -1px;
	border: thin solid rgba(216,216,216,.99);

	cursor: pointer;
}

#tabs ul li:not(:first-child) {
	margin-left: 0;
}

#tabs ul li.active, #tabs ul li:hover {
	background-color: rgba(250,250,250,.99);
	border-bottom: thin solid rgba(250,250,250,.99);
}

#rooms > div {
	display: none;
}

#rooms .header {
	border-bottom: thin solid rgba(216,216,216,.99);
}

#rooms .header h1 {
	margin: 0;

	font-size: 1.5rem;
	font-weight: 600;
}

#rooms .attendance-list {
	display: none;
}

#rooms .attendance-list .attendance {
	font-weight: 400;
	display: inline;
}

#rooms .footer {
	border-top: thin solid rgba(216,216,216,.99);
}

#rooms .footer input {
	margin: 0;
}

#rooms .footer input[type=text] {
	border-right: 0;
}

#rooms .footer input[type=button] {
	display: inline;
	padding: 0.45rem;
	-webkit-border-top-left-radius: 0px;
	-webkit-border-bottom-left-radius: 0px;
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-bottomleft: 0px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}

#rooms .footer input[type=button].msg-send {
	display: inline;
}

#rooms .footer button.attendance-button {
	float: right;
    min-width:20px;
    margin-left: 1rem;
	padding: 0.45rem;
	line-height: normal;
}

#rooms .footer button.attendance-button i {
	font-style: normal;
}

#rooms .footer button.attendance-button i:before {
	content: '\e800';
	font-family: "fontello";
	font-style: normal;
	font-weight: normal;
	speak: none;

	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	margin-right: .2em;
	text-align: center;
	/* opacity: .8; */

	/* For safety - reset parent styles, that can break glyph codes*/
	font-variant: normal;
	text-transform: none;
	 
	/* fix buttons height, for twitter bootstrap */
	line-height: 1em;

	/* Animation center compensation - margins should be symmetric */
	/* remove if not needed */
	margin-left: .2em;

	/* you can be more comfortable with increased icons size */
	/* font-size: 120%; */

	/* Uncomment for 3D effect */
	/* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

#rooms .footer .container {
    width:600px;
    height:200px;
    border:1px solid;
}

#rooms .footer .left {
    width:auto;
    overflow:hidden;
}

#rooms .footer .right {
    min-width:30px;
    float:right;
}

ul.msgs {
	margin: 0;
	padding: 0;
	list-style: none;
}

span.nick {
	font-weight: 600;
}