@import url("/furtive/css/furtive.min.css");

.py1-5 {
	padding-top: 0.2rem;
}

#wrapper {
	max-width: 920px;
	margin: auto;
}

#joinroom {
	margin-top: 1rem;
}

#tabs {
	margin 1em 0;
	border-bottom: thin solid rgba(216,216,216,.99);
}

#tabs ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#tabs ul li {
	background-color: rgba(255,255,255,1);
	display: inline-block;
	padding: 0.5rem 1.5rem;
	margin: 1rem;
	margin-bottom: -1px;
	border: thin solid rgba(216,216,216,.99);

	cursor: pointer;
}

#tabs ul li:not(:first-child) {
	margin-left: 0;
}

#tabs ul li.active, #tabs ul li:hover {
	background-color: rgba(250,250,250,.99);
	border-bottom: thin solid rgba(250,250,250,.99);
}

#rooms > div {
	display: none;
}

#rooms .header {
	border-bottom: thin solid rgba(216,216,216,.99);
}

#rooms .header h1 {
	margin: 0;

	font-size: 1.5rem;
	font-weight: 600;
}

#rooms .attendance-list {
	font-size: 0.9rem;
	font-weight: 600;

	opacity: 0.5;
}

#rooms .attendance-list .attendance {
	font-weight: 400;
	display: inline;
}

#rooms .footer {
	border-top: thin solid rgba(216,216,216,.99);
}

#rooms .footer input {
	margin: 0;
}

#rooms .footer input[type=text] {
	border-right: 0;
}

#rooms .footer input[type=button] {
	padding: 0.4rem;
	-webkit-border-top-left-radius: 0px;
	-webkit-border-bottom-left-radius: 0px;
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-bottomleft: 0px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}

@media screen and (min-width: 32rem) {
	#rooms .footer input[type=button] {
		padding: 0.45rem;
	}
}

ul.msgs {
	margin: 0;
	padding: 0;
	list-style: none;
}

span.nick {
	font-weight: 600;
}